@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap");

.fondo_p {
  background-image: url(/assets/imgs/background7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #f72585;
  background-blend-mode: luminosity;
  background-size: cover;
  width: 100%;
  height: 90vh;
  z-index: -8; }

.navMobile{
  display: inherit;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -330px;
  height: 100vh;
  z-index: 9;
  width: 300px;
  background-color: #090B0A;
  box-shadow: 0 40px 60px rgba(0,0, 0, 0.1);
  padding:80px 0 0 10px;
  transition: 0.3s;
}

#navbar.active{
  right: 0px;
}
#navbar li{
  margin-bottom: 25px;
  list-style: none;
}
#navbar li a {
	display: block;
	position: relative;
	padding: 10px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0 5px;
}
#mobile{
  display: flex;
}
#bar{
  font-size: 24px;
  cursor: pointer;
  color:white;
}
#close{
  position: absolute;
  top: 30px;
  left: 30px;
  color:white;
  font-size: 24px;
  cursor: pointer;
  display: initial;
}

.formas, .micBg{
  display: none; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h2 {
  font-family: 'Amatic SC', cursive; }

h3, h4, h5 {
  font-family: 'Oooh Baby', cursive; }

.gridContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header"
 "background"
 "section"
 "aside"
 "contact"
 "footer"; }

header {
  grid-area: header;
  background-color: #090B0A;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  z-index: 6; }

.white-Logo {
  width: 200px; }

@media only screen and (min-width: 1250px) {
  #navbar li {
    margin-bottom: 0;
  }
  #navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position:relative;
    top: 0;
    right: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    transition: 0.3s;
  }
  .navMobile {
    display: none;
  }
  #close {
    display: none;
  }
  .formas, .micBg, nav {
    display: inline; }
  .fondo_p {
    height: 100vh; }
  .white-Logo {
    width: 250px; }
  .micBg {
    background-image: url(/assets/imgs/Micbackground.svg);
    background-repeat: no-repeat;
    height: 600px;
    width: 650px;
    position: absolute;
    bottom: 0px;
    right: 470px; }
  .formas img {
    position: absolute;
    height: 100vh;
    top: 0px;
    right: 0px; }
  header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    top: 0px;
    display: flex;
    justify-content: space-between;
    transition: 0.6s;
    z-index: 6;
    padding: 1.5em 2em; }
    header nav {
      width: 45%; }
      header nav ul {
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: space-around; }
        header nav ul li {
          list-style-type: none; }
            header nav ul li a, header nav ul li a::after, header nav ul li a::before {
              transition: all .5s; }
            header nav ul li a:hover {
              color: #f72585; }
            header nav ul li a::after {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: 0%;
              content: '.';
              color: transparent;
              background: #f72585;
              height: 1px; }
            header nav ul li a:hover::after {
              width: 100%; }
  header.sticky {
    background-color: #090B0A; } }

footer {
  grid-area: footer;
  background-color: #090B0A;
  display: flex;
  justify-content: space-around;
  padding: 0.4em 0; }
  footer .redes {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around; }
    footer .redes a svg {
      width: 30px; }
    footer .redes #Oval-1 {
      fill: white; }
  footer .footerLogo {
    display: flex;
    align-items: center; }

section {
  grid-area: section;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 700; }
  section .card__tecnicas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-inline: 2em; }
  section .card__tec {
    background-color: #3C3C3C;
    text-align: center;
    color: white;
    padding: 2em;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    max-width: 650px;
    flex-grow: 1;
    flex-basis: 0; }
    section .card__tec img {
      width: 24px; }
    section .card__tec h3 {
      font-size: 1.5rem;
      font-weight: 500; }
    section .card__tec p {
      font-size: 14px;
      font-weight: 300; }

.contacto {
  background-color: #3C3C3C;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: contact;
  padding: 2.5em 0;}
  .contacto h2 {
    font-size: 1.8rem; }
  .contacto p {
    font-size: 14px;
    margin: 0.6em 0.8em 1em; }
  .contacto .btn {
    padding: 0.4em 1.4em;
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #3f13a4;
    text-decoration: none;
    text-align: center; }


/* ASIDE RESPONSIVE when max-width is 1250px*/
@media only screen and (max-width: 1250px) {
  aside {
    grid-area: aside;
    margin: 2.5em 0px; }
    aside .flexAside {
      display: flex;
      flex-direction: column; }
      aside .flexAside .imgEstudio {
        display: flex;
        justify-content: center; }
        aside .flexAside .imgEstudio img {
          width: 100vw; }
      aside .flexAside .textEstudio h2 {
        margin-top: 1.5em;
        font-size: 2rem;
        text-align: center; }
      aside .flexAside .flexCards {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        aside .flexAside .flexCards .cardTxtEstudio {
          display: flex;
          flex-direction: column;
          background-color: #3C3C3C;
          padding: 1.2em;
          margin: 1em;
          color: white;
          border-radius: 4px;
          align-items: center;
          text-align: center;
          font-size: 14px;
          flex-grow: 1;
          flex-basis: 0;
          max-width: 500px; }
          aside .flexAside .flexCards .cardTxtEstudio img {
            width: 24px; } }

/* ASIDE DISPLAY > 1251px */
@media only screen and (min-width: 1251px) {
  .flexAside {
    margin: 3em 0;
    display: flex;
    flex-direction: row; }
    .flexAside .imgEstudio {
      margin-left: 25px; }
      .flexAside .imgEstudio img {
        width: 50vw; }
    .flexAside .textEstudio {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 1em; }
      .flexAside .textEstudio h2 {
        text-align: center;
        margin-top: 25px; }
      .flexAside .textEstudio .flexEstudio {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 1em; }
        .flexAside .textEstudio .flexEstudio .flexCards {
          display: flex;
          flex-direction: column;
          padding: 0px 10px;
          overflow: hidden;
          gap: 1em; }
          .flexAside .textEstudio .flexEstudio .flexCards .cardTxtEstudio {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            flex-basis: 0; }
            .flexAside .textEstudio .flexEstudio .flexCards .cardTxtEstudio p {
              text-align: center; }
  .redes a svg {
    transition: all 1.5s; }
  .redes a svg:hover {
    transform: rotate(360deg); } }

/* END INDEX PAGE */

/* PAGE ABOUT ME */

.gridContainerMe {
  overflow-x: hidden; }
.bgMe__Img {
  position: absolute;
  width: 100%;
  top: 35%;
  z-index: 4; }
.bgMe__Img .bg_CaroImg {
    display: flex;
    justify-content: center; }
.bgMe__Img .bg_CaroImg img {
      border-radius: 50%;
      border: 1px solid #FFF;
      width: 220px; }
.bgMe__Img .bg_CaroText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center; }
.sectionMe {
  background-color: #3C3C3C;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
.sectionMe h2 {
    color: #fff;
    text-transform: capitalize; }
.cardM__Hb {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center; }
.cardM__Hb .card__Hb {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    padding: 1.5em 1em;
    border-radius: 3px;
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: 1.4em;
    max-width: 1050px; }
.cardM__Hb .card__Hb img {
      width: 150px;
      flex-grow: 1;
      flex-basis: 0; }
.cardM__Hb .card__Hb p {
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 0.8em; }
.asideMe {
  display: flex;
  margin: 2em 0; }
.asideMe iframe {
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 320px; }
body {
  overflow-x: hidden; }

/* RESPONSIVE DISPLAY > 600px  */

@media only screen and (min-width: 600px) {
    .asideMe iframe {
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;
      width: 560px;
      height: 340px; }
}

@media (min-width:200px) and (max-width:600px){
  .cardM__Hb .card__Hb {
    flex-direction: column;
  }
  .cardM__Hb .card__Hb img {
    width: 100%;
  }
  .cardM__Hb .card__Hb p {
    padding: 1em 0.8em;
  }
  .sectionMe h2 {
    font-size: 2.5rem;
  }
}

@media (min-width:800px) {
  .bgMe__Img {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .bgMe__Img .bg_CaroImg img {
      width: 350px; }
    .bgMe__Img .bg_CaroText h2 {
      font-size: 2.4rem; }
  body {
    overflow-x: hidden; }
}