@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap');

footer{
    grid-area: footer;
    background-color: $bgColor;
    display: flex;
    justify-content: space-around;
    padding: 0.4em 0;
    .redes{
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;
    a svg{
        width: 30px;
    }
    #Oval-1{
        fill: white;
    }
    }
    .footerLogo{
        display: flex;
        align-items: center;
    }
}