section{
        grid-area: section;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
        font-size: 2rem;
        text-align: center;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-weight: 700;
        }
        .card__tecnicas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        margin-inline: 2em;
        }
        .card__tec{
        background-color: $primColor;
        text-align: center;
        color: white;
        padding: 2em;
        border-radius: 4px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
        max-width: 650px;
        flex-grow: 1;
        flex-basis: 0; // FALTA CONSULTAR SI PONER BASIS 0 o 1
        img {
                width: 24px;
        }
        h3 {
                font-size: 1.5rem;
                font-weight: 500;
        }
        p {
                font-size: 14px;
                font-weight: 300;
        }
}
}
.contacto {
        background-color: $primColor;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        grid-area: contact;
        padding: 2.5em 0;
        h2{
                font-size: 1.8rem;
        }
        p{
                font-size: 14px;
                margin: 0.6em 0.8em 1em;
        }
        .btn{
        padding: 0.4em 1.4em;
        background-color: $secColor;
        border-radius: 3px;
        color: $btnColor;
        text-decoration: none;
        text-align: center;
        }
}

@media only screen and (max-width:1249px){

aside{
        grid-area: aside;
        margin: 2.5em 0px;
        .flexAside{
                display: flex;
                flex-direction: column;
                .imgEstudio{
                display: flex;
                justify-content: center;
                img{
                        width: 100vw;
                }
                }
                .textEstudio h2{
                margin-top: 1.5em;
                font-size: 2rem;
                text-align: center;
                }
                .flexCards{
                display: flex;
                flex-direction: row;
                justify-content: center;
                        .cardTxtEstudio{
                        display: flex;
                        flex-direction: column;
                        background-color: $primColor;
                        padding: 1.2em;
                        margin: 1em;
                        color: white;
                        border-radius: 4px;
                        align-items: center;
                        text-align: center;
                        font-size: 14px;
                        flex-grow: 1;
                        flex-basis: 0;
                        max-width: 500px;
                                img{
                        width: 24px;
                                }
                        }
                }
        }
}

}

@media only screen and (min-width:1250px){

.flexAside{
        margin: 3em 0;
        display: flex;
        flex-direction: row;
        .imgEstudio{
                margin-left: 25px;
                img{
                        width: 50vw;
                }
        }
        .textEstudio{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin: 0 1em;
                h2{
                text-align: center;
                margin-top: 25px;
                }
                .flexEstudio{
                        display: flex;
                        flex-direction: row;
                        flex-grow: 1;
                        gap: 1em;
                        .flexCards{
                                display: flex;
                                flex-direction: column;
                                padding: 0px 10px;
                                overflow: hidden;
                                gap: 1em;
                                .cardTxtEstudio{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: center;
                                        flex-grow: 1;
                                        flex-basis: 0;
                                        p{
                                        text-align: center;
                                        }
                                }
                        }
                }
        }
}

.redes a svg{
transition: all 1.5s;
}

.redes a svg:hover{
transform: rotate(360deg);
}

}