<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carolina Belen</title>
</head>
<body>
    <header>
        <!-- nav + logo -->
        <div class="logo">
        <img src="/assets/imgs/logo.png" alt="Logo" width="40px">
        <a href="">Carolina Belen</a>
        <p>Vocal Coach</p>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="/views/sobremi.html">Sobre mi</a></li>
                <li><a href="/views/proyectos.html">Proyectos</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
                <li><a href="/views/feedback.html">Feedback</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <div class="redes">
            <img src="" alt="facebook">
            <img src="" alt="instagram">
            <img src="" alt="twitter">
        </div>
        <a href="../index.html"><img src="" alt="Icono Carolina Belen"></a>
    </footer>
</body>
</html>