<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Carolina Belen</title>
</head>
<body>
    <header>
        <!-- nav + logo -->
        <div class="logo">
        <a href="index.html"><img class="white-Logo" src="/assets/imgs/white-logo.png" alt="Logo"></a>
        </div>
        <nav>
            <ul id="navbar">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/sobremi.html">Sobre mí</a></li>
                <li><a href="/views/proyectos.html">Proyectos</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
                <li><a href="/views/feedback.html">Feedback</a></li>
                <a id="close"><ion-icon name="close-outline"></ion-icon></a>
            </ul>
        </nav>
        <div class="navMobile">
            <ion-icon id="bar" name="menu-outline"></ion-icon>
        </div>
    </header>
    <footer>
        <div class="redes">
            <img src="" alt="facebook">
            <img src="" alt="instagram">
            <img src="" alt="twitter">
        </div>
        <a href="../index.html"><img src="" alt="Icono Carolina Belen"></a>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/bar.js"></script>
</body>
</html>